@require 'components/table.styl'

.vid-list-table
    @extend $table
    padding 0

.vid-list-row
    @extend $table-row

.vid-player
    width 256px

  +tiny-screen(direction='min')
      width 426px

  +medium-screen(direction='min')
      width 540px

  +large-screen(direction='min')
      width 960px

  +extra-large-screen(direction='min')
      width 1280px
